<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criminal Management System | Admin</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/global.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/admin.css')}}">
</head>
<body>
  <div class="admin_login_wrapper">
    <form class="admin_login_form" action="{{url_for('police')}}" method="POST">
      <div class="usrnm_wrapper">
        <label for="police_usrnm">Officer ID</label>
        <input type="text" name="police_usrnm" id="police_usrnm" required>
      </div>
      <div class="pass_wrapper">
        <label for="police_pass">Password</label>
        <input type="password" name="police_pass" id="police_pass" required>
      </div>
      <input type="submit" value="Login">
    </form>
  </div>
</body>
</html>